<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Date wise</title>
</head>
<body>
    <%= date %>
    <% let date1 %>
    <% let date2 %>
    <h1>Present Roll Number</h1>
    <% for(let attendance of attendances) { %>
        <% date1= date+" 00:00:00 GMT+0530 (India Standard Time)" %>
        <% if(date1==attendance.date && attendance.subject_name==sub_name){ %>
            <p><%= attendance.Present_roll %></p>
        <% } %>
    <% } %>
</body>
</html>